

<h1> <%= @selectuser.firstname %> <%= @selectuser.lastname %> </h1> 



      <%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>


<br><br>
<h2>Contacts:</h2>

<h5>
<% @selectuser.contacts.each do |i| %>
<li>
<%= i.kind %>:
<%= i.value %>
</li>
<% end %>
</h5>

<br><br><br>

<p>Logged in as: <%=h @currentuser.firstname %> <%=h @currentuser.lastname %></p>



<br><br><br>
<h1>Download Contact:</h1>
<img src="http://bvcard.com/sites/bvcard.com/files//mobile_codes/c205d1df0cdcb9fa957770c66867afc6.png" alt="vCard QRcode" title="vCard QRcode">




<br><br><br>
<br><br><br>


<style>
.sss {
color: blue;
size: small;
}
</style>