<h1> <%= @user.firstname %> <%= @user.lastname %></h1>
<p>Username: <%=h @user.username %></p>
<br>

<h2>Contacts:</h2>
<h5>
  <% @contacts.each do |i| %>
    <li>
      <%= i.kind %>:
      <%= link_to i.value, edit_contact_path(i) %>
      <% end %>
    </li>
</h5>

<br><br><br>

<%# link_to 'Add Contact', new_contact_path, class: 'button' %>
<%= form_for @user do |f| %>
  <%= f.fields_for :contacts, @user.contacts.build do |c| %>
    <%= c.hidden_field :user_id, value: @user.id%>
    <p>
    <%= c.collection_select :kind, @kind, :to_s, :to_s, include_blank: false %>    
    <%= c.text_field :value, placeholder: 'Value' %>
  <% end %>
  <%= f.submit %>
<% end %>

<br><br><br>

<%= form_with url:'/logout', method: 'delete' do |f| %>
	<%= f.submit "Logout", class: 'button' %>
<% end %>

<br><br><br>

<p><%= link_to "Find Friends", users_path %></p>


<br><br><br>



<h2>Your Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
  <li>
    <%= h link_to friendship.friend.username, profile_path(friendship.friend.username) %>
    <%= link_to "remove", friendship, :method => :delete %>)
  </li>
  <% end %>  
</ul>
<br><br><br>

















